  body { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: rgb(236, 234, 234);
  }

  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: rgb(7, 6, 6);
    border-radius: 0;
    border-bottom: 10px solid rgb(1, 52, 65);
  }

  .form{
    border: #38e204;
    height: 85px;
    white-space: pre-wrap;
  }

  .time-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    box-shadow: #41c703;
  }

  .hour {
    margin: 5px;
    padding: 25px;
    color: #0a0a0a;
    border-top:  1px dashed #000000;
    border-bottom: 1px dashed #000000;;
  }

  textarea {
    background: transparent;
    border:rgb(255, 236, 196) ;
    resize: none;
    color: rgb(95, 248, 7);
    border-left: 1px solid ;
    padding: 10px;
    margin: 10px;
  }
  
  .past {
    background-color: #f16565;
    color: rgb(7, 6, 6);
  }
  
  .present {
    background-color: #a1a1a1;
    color: rgb(15, 15, 15);
  }
  
  .future {
    background-color: #aafda2;
    color: rgb(7, 6, 6);
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px;
  }

  .time-display{
    font-size: xx-large;
  }
  
  .saveBtn {
    height: 85px;
    width: 85px;
    margin: 20px;
    border-left: 1px solid rgb(36, 226, 3);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image:url("images/icon.png");
    background-position: center;
    background-size: cover;
    color: rgba(248, 248, 248, 0.52);
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    color: rgb(8, 219, 89);
  }
